body{
    background-color: rgba(215, 191, 191, 0.814);
}
center{
    margin-bottom: 50px;
}
.reviews img{
    border-radius: 60px;
    margin-right: 20px;
}
.review1,.review2,.review3,.review4,.review5{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    border-radius: 70px;
}
.review1:hover{
    background-color: rgb(187, 197, 197);
}
.review2:hover{
    background-color: rgb(187, 197, 197);
}
.review3:hover{
    background-color: rgb(187, 197, 197);
}
.review4:hover{
    background-color: rgb(187, 197, 197);
}
.review5:hover{
    background-color: rgb(187, 197, 197);
}
.reviews{
    background-color: rgb(243, 250, 250);
}
.review6 a:hover{
    background-color:rgb(187, 243, 243);
    color:blac;
    border-radius: 20px;
}
.total{
    display: flex;
    flex-direction: row;
    
}
.navbar{
    padding-left: 100px;
    padding-right: 50px;
}
.btn{
    margin-bottom: 10px;
    border-radius:30px;
}